@{
    ViewBag.Title = "Index";
}
<style>
    Body {
        background-color: #3FB4D7;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">Home View</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div> 
@Html.ActionLink("Sign Out", "Logout", "Account", null, new {@class = "btn btn - primary"})